@charset "utf-8";

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Roboto";
  font-weight: 100;
  src: url("../fonts/Roboto-Thin.ttf");
}

@font-face {
  font-family: "Roboto";
  font-weight: 400;
  src: url("../fonts/Roboto-Regular.ttf");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 400;
  src: url("../fonts/Montserrat-Regular.ttf");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 700;
  src: url("../fonts/Montserrat-Bold.ttf");
}

body {
  background-color: #ffffff;
  color: #383838;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  text-size-adjust: 100%;
}

a {
  display: inline-block;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

a:hover {
  transition: all 0.5s;
  opacity: 0.7;
}

img {
  vertical-align: bottom;
  max-width: 100%;
}

.wrapper {
  margin: 0 auto;
  max-width: 1920px;
}

/* Common */
.cmn-ttl {
  font-weight: 700;
  text-transform: uppercase;
}

.cmn-txt {
  font-size: 1.132vw;
  letter-spacing: 0.005vw;
}

.cmn-paragraph {
  color: #a7a7a7;
}

.cmn-arr-blk {
  position: absolute;
}

.cmn-arr-blk::after {
  position: absolute;
  right: 0;
  left: 0;
  margin: 0 auto;
  background: url("../img/ico_bottom_arr02.png") no-repeat center/contain;
  content: "";
}

.content-inner {
  position: relative;
}

.cmn-txt-blk {
  display: flex;
  position: absolute;
  align-items: flex-start;
}

.cmn-txt-blk::before {
  position: absolute;
  top: 0;
  height: 100%;
  content: "";
}

/* Header Section */
.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  margin: 0 auto;
}

.header .header-inner {
  display: flex;
}

.header .gnav li:not(:nth-child(1), :nth-child(2)) a {
  color: #ffffff;
}

.header .gnav a {
  position: relative;
  color: #000000;
  font-weight: 700;
  letter-spacing: -0.016vw;
  text-transform: uppercase;
}

.header .gnav a::before,
.header .gnav a::after {
  position: absolute;
  top: 50%;
  background-color: transparent;
  content: "";
  transform: translateY(-50%);
}

.header .gnav a::before {
  left: 0;
}

.header .gnav a::after {
  right: 0;
  border-radius: 50%;
}

.header .gnav a:hover::before,
.header .gnav a:hover::after,
.header .gnav a.active::before,
.header .gnav a.active::after {
  background-color: #b8a47e;
}

/* Mainvisual Section */
.sec-mv .mv-slider-blk {
  position: relative;
}

.sec-mv .list-item {
  position: relative;
}

.sec-mv .list-img {
  margin-left: auto;
}

.sec-mv .list-txt {
  position: absolute;
}

.sec-mv .cmn-ttl {
  color: #000000;
  text-shadow: none;
}

.sec-mv .list-btn {
  position: relative;
  color: #b8a47e;
}

.sec-mv .list-btn::before,
.sec-mv .list-btn::after {
  position: absolute;
  top: 50%;
  content: "";
  transform: translateY(-50%);
}

.sec-mv .list-btn::before {
  left: 0;
  background-color: #b8a47e;
}

.sec-mv .list-btn::after {
  right: 0;
  background: url("../img/ico_right_arr.png") no-repeat center/contain;
}

/* Voyager Section */
.sec-voyager .cmn-txt-blk::before {
  right: 0;
}

.sec-voyager .left-blk {
  position: relative;
  color: #ffffff;
}

.sec-voyager .left-blk .cmn-txt {
  text-align: right;
}

.sec-voyager .right-blk {
  position: relative;
}

.sec-voyager .cmn-arr-blk {
  background-color: #ffffff;
}

/* Drifter Section */
.sec-drifter {
  background-color: rgba(213, 213, 213, 0.42);
}

.sec-drifter .cmn-txt-blk::before {
  left: 0;
}

.sec-drifter .left-blk {
  position: relative;
}

.sec-drifter .right-blk {
  position: relative;
  color: #ffffff;
}

.sec-drifter .cmn-arr-blk {
  background-color: #ededed;
}

/* Collection Content */
.sec-collection .content-inner {
  width: 95%;
  margin: 0 auto;
}

.sec-collection .cmn-ttl {
  text-shadow: none;
}

.sec-collection .content-txt {
  text-align: right;
}

.sec-collection .content-txt span {
  display: inline-block;
  position: relative;
}

.sec-collection .content-txt span::before {
  position: absolute;
  top: 50%;
  left: 0;
  background-color: #000000;
  content: "";
  transform: translateY(-50%);
}

.sec-collection .content-txt small {
  display: inline-block;
  background-color: rgba(184, 164, 126, 0.42);
  text-align: left;
}

.sec-collection .list-no {
  position: relative;
  z-index: 2;
  color: rgba(56, 56, 56, 0.53);
  font-weight: 700;
}

.sec-collection .list-no span {
  display: inline-block;
  position: relative;
}

.sec-collection .list-no span::after {
  position: absolute;
  top: 50%;
  right: 0;
  background-color: #000000;
  content: "";
  transform: translateY(-50%);
}

.sec-collection .list-item02 .list-no,
.sec-collection .list-item03 .list-no {
  text-align: right;
}

.sec-collection .list-ttl {
  display: inline-block;
  font-weight: 700;
}

.sec-collection .list-txt {
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
}

.sec-collection .more-btn {
  position: relative;
  color: #383838;
  font-weight: 700;
  text-transform: uppercase;
}

.sec-collection .more-btn::after {
  position: absolute;
  top: 50%;
  right: 0;
  background: url("../img/ico_right_arr03.png") no-repeat center/contain;
  content: "";
  transform: translateY(-50%);
}

.sec-collection .list-item01 {
  display: flex;
  align-items: flex-start;
}

.sec-collection .list-item01 .list-img01 {
  position: relative;
}

.sec-collection .list-item01 .list-img01::before {
  position: absolute;
  z-index: 1;
  background-color: #000000;
  content: "";
}

.sec-collection .list-item01 .txt-blk-inner {
  position: relative;
}

.sec-collection .list-item01 .txt-blk-inner::before,
.sec-collection .list-item01 .txt-blk-inner::after {
  position: absolute;
  background-color: #000000;
  content: "";
}

.sec-collection .list-item01 .txt-blk-inner::after {
  bottom: 0;
  z-index: 3;
}

.sec-collection .list-item01 .list-img02 {
  position: relative;
}

.sec-collection .list-item {
  display: flex;
}

.sec-collection .list-item02 .list-ttl {
  position: relative;
  z-index: 1;
}

.sec-collection .list-item02 .list-ttl::after {
  position: absolute;
  left: 0;
  z-index: -1;
  width: 100%;
  background-color: rgba(184, 164, 126, 0.42);
  content: "";
}

.sec-collection .list-item02 .daypack-txt {
  line-height: 1.1;
  color: #ffffff;
  font-weight: 700;
}

.sec-collection .list-item03 .img-blk {
  position: relative;
  z-index: -1;
}

.sec-collection .collection {
  display: flex;
  position: relative;
}

.sec-collection .collection li a:hover {
  position: relative;
}

.sec-collection .collection li a:hover::before,
.sec-collection .collection li a:hover::after {
  position: absolute;
  left: 0;
  content: "";
}

.sec-collection .collection li a:hover::before {
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.sec-collection .collection li a:hover::after {
  top: 50%;
  right: 0;
  margin: 0 auto;
  background: url("../img/ico_plus.png") no-repeat center/contain;
  transform: translateY(-50%);
}

.sec-collection .modal-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9999;
  visibility: hidden;
  transition: all 0.5s;
  opacity: 0;
}

.sec-collection .modal-container.is-visible {
  visibility: visible;
  opacity: 1;
}

.sec-collection .modal-container .modal-outer {
  position: relative;
  height: 100%;
  overflow-y: auto;
}

.sec-collection .modal-container .modal-inner {
  position: relative;
  margin: 5% auto;
  background-color: #ffffff;
}

.sec-collection .modal-container .slider-blk {
  position: relative;
}

.sec-collection .modal-container .modal-ttl {
  position: relative;
  font-weight: 700;
}

.sec-collection .modal-container .modal-ttl::before {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #000000;
  content: "";
}

.sec-collection .modal-container .modal-ttl span {
  display: block;
  color: #b8a47e;
}

.sec-collection .modal-container .price-txt {
  color: #000000;
  font-size: 1.974vw;
  letter-spacing: 0.526vw;
}

.sec-collection .modal-container .brand-ttl {
  font-weight: 700;
}

.sec-collection .modal-container .tab-nav {
  display: flex;
}

.sec-collection .modal-container .tab-nav li {
  position: relative;
}

.sec-collection .modal-container .tab-nav li::before {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #878787;
  content: "";
}

.sec-collection .modal-container .tab-nav li a {
  position: relative;
  color: #878787;
  font-weight: 700;
}

.sec-collection .modal-container .tab-nav li a::after {
  display: none;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0 auto;
  background: url("../img/ico_bottom_arr03.png") no-repeat center/contain;
  content: "";
}

.sec-collection .modal-container .tab-nav li.active a {
  color: #000000;
}

.sec-collection .modal-container .tab-nav li.active::before {
  display: none;
}

.sec-collection .modal-container .tab-nav li.active a::after {
  display: block;
}

.sec-collection .modal-container .tab-content {
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
}

.sec-collection .modal-container .btn-blk {
  display: flex;
  justify-content: space-between;
  padding: 2.737vw 0 5.789vw;
}

.sec-collection .modal-container .buy-btn {
  background-color: #b8a47e;
  color: #ffffff;
  font-weight: 700;
  text-align: center;
}

.sec-collection .modal-container .qty-sign {
  display: flex;
  align-items: center;
  font-size: 1.447vw;
  font-weight: 700;
}

.sec-collection .modal-container .qty-sign .sign {
  color: #878787;
}

.sec-collection .modal-container .qty-sign .no {
  color: #292929;
}

.sec-collection .modal-container .qty-txt {
  color: #878787;
  text-align: center;
  text-transform: uppercase;
}

.sec-collection .modal-container .modal-txt {
  color: #bfbfbf;
  font-weight: 700;
}

.sec-collection .modal-container .modal-txt a {
  color: #b8a47e;
}

.sec-collection .modal-container .modal-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  text-align: center;
  cursor: pointer;
  border-radius: 50%;
}

.sec-collection .modal-container .social-list,
.sec-collection .modal-container .modal-close {
  position: absolute;
}

/* Footer */
.footer {
  background-color: rgba(213, 213, 213, 0.42);
}

.footer .footer-inner {
  display: flex;
  flex-wrap: wrap;
  width: 95%;
  margin: 0 auto;
}

.footer .cmn-link {
  position: relative;
}

.footer .cmn-link::before,
.footer .cmn-link::after {
  position: absolute;
  top: 50%;
  background-color: transparent;
  content: "";
  transform: translateY(-50%);
}

.footer .cmn-link::before {
  left: 0;
}

.footer .cmn-link::after {
  right: 0;
  border-radius: 50%;
}

.footer .cmn-link:hover::before,
.footer .cmn-link:hover::after,
.footer .cmn-link.active::before,
.footer .cmn-link.active::after {
  background-color: #b8a47e;
}

.footer .footer-nav {
  display: flex;
}

.footer .footer-nav .cmn-link {
  color: #919191;
  font-weight: 700;
  text-transform: uppercase;
}

.footer .footer-nav .cmn-link:hover,
.footer .footer-nav .cmn-link.active {
  color: #000000;
}

.footer .footer-address .ttl {
  color: #000000;
  font-family: "Roboto", sans-serif;
}

.footer .footer-address p {
  line-height: 1.38;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
}

.footer .footer-form .ttl {
  color: #000000;
  font-weight: 700;
  text-transform: uppercase;
}

.footer .footer-form p {
  line-height: 1.3;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
}

.footer .footer-form form {
  display: flex;
  align-items: flex-start;
}

.footer .footer-form .cmn-input {
  border: none;
  background-color: #ffffff;
  outline: none;
}

.footer .footer-form .cmn-button {
  border: none;
  background-color: #292929;
  text-align: center;
}

.footer .copyright {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  text-transform: uppercase;
}

.footer .social-list {
  display: flex;
}

.footer .social-list .cmn-link {
  color: #000000;
  font-weight: 300;
}

.footer .social-list .cmn-link:hover,
.footer .social-list .cmn-link.active {
  font-weight: 700;
}

/* PC
-----------------------------------------------------------------*/
@media only screen and (min-width: 768px) {

  body {
    font-size: 0.789vw;
  }

  /* Common */
  .cmn-ttl {
    font-size: 2.553vw;
    letter-spacing: 0.663vw;
    text-shadow: 0vw 0vw 2.158vw rgba(0, 15, 26, 0.6);
  }

  .cmn-txt {
    font-size: 1.132vw;
    letter-spacing: 0.005vw;
  }

  .cmn-paragraph {
    line-height: 2.73;
    font-size: 0.763vw;
  }

  .cmn-arr-blk {
    bottom: -1.053vw;
    width: 10.316vw;
    height: 2.105vw;
  }

  .cmn-arr-blk::after {
    top: 1vw;
    width: 0.895vw;
    height: 4.158vw;
  }

  .cmn-txt-blk::before {
    border: 0.105vw solid #b8a47e;
  }

  .cmn-content-img {
    width: 67.4%;
  }

  /* Header Section */
  .header {
    padding: 0 0.526vw;
    max-width: 1920px;
  }

  .header .header-logo {
    width: 11.7%;
    margin-right: 4.737vw;
  }

  .header .gnav {
    padding: 3.263vw 0;
  }

  .header .gnav ul {
    display: flex;
  }

  .header .gnav li {
    margin-right: 1.842vw;
  }

  .header .gnav a {
    padding: 0 0.684vw 0 2.474vw;
  }

  .header .gnav a::before {
    width: 2vw;
    height: 0.053vw;
  }

  .header .gnav a::after {
    width: 0.211vw;
    height: 0.211vw;
  }

  /* Mainvisual Section */
  .sec-mv {
    padding-left: 3.684vw;
  }

  .sec-mv .mv-slider-blk {
    padding-left: 13.621vw;
  }

  .sec-mv .list-item {
    margin-left: 1.058vw;
  }

  .sec-mv .list-img {
    width: 79.8%;
  }

  .sec-mv .list-txt {
    top: 44.4%;
    left: 0;
  }

  .sec-mv .cmn-ttl {
    padding: 1.263vw 0 3.368vw;
  }

  .sec-mv .list-btn {
    margin-left: 5.526vw;
    padding: 0 1.421vw 0 2.737vw;
    font-size: 1.132vw;
  }

  .sec-mv .list-btn::before {
    width: 2vw;
    height: 0.053vw;
  }

  .sec-mv .list-btn::after {
    width: 0.526vw;
    height: 0.842vw;
  }

  /* Voyager Section */
  .sec-voyager {
    padding: 10.316vw 0;
  }

  .sec-voyager .cmn-txt-blk {
    top: 18.9%;
    right: 8.2%;
    width: 63.789vw;
    padding: 2.947vw 1.053vw 1.263vw;
  }

  .sec-voyager .cmn-txt-blk::before {
    width: 73%;
  }

  .sec-voyager .left-blk {
    width: 61.2%;
    padding-top: 2.368vw;
  }

  .sec-voyager .left-blk .cmn-txt {
    padding-top: 0.947vw;
  }

  .sec-voyager .right-blk {
    width: 27%;
    margin-left: 2.632vw;
  }

  .sec-voyager .cmn-arr-blk {
    right: 12.7%;
  }

  /* Drifter Section */
  .sec-drifter {
    padding: 9.474vw 0 9.211vw;
  }

  .sec-drifter .cmn-content-img {
    margin-left: auto;
  }

  .sec-drifter .cmn-txt-blk {
    top: 20.9%;
    left: 8.2%;
    width: 65.263vw;
    padding: 1.579vw 0.474vw 2.632vw 3.421vw;
  }

  .sec-drifter .cmn-txt-blk::before {
    width: 72.7%;
  }

  .sec-drifter .content-txt {
    position: absolute;
    top: -1.158vw;
    left: 1.579vw;
    width: 16.789vw;
  }

  .sec-drifter .left-blk {
    width: 38.4%;
    margin-right: 4.421vw;
  }

  .sec-drifter .right-blk {
    width: 67.1%;
    padding-top: 3.211vw;
  }

  .sec-drifter .right-blk .cmn-txt {
    padding-top: 0.947vw;
    padding-left: 6.053vw;
  }

  .sec-drifter .cmn-arr-blk {
    left: 12.6%;
    background-color: #ededed;
  }

  /* Collection Content */
  .sec-collection {
    padding: 9.579vw 0 10.947vw;
  }

  .sec-collection .content-inner {
    max-width: 83.684vw;
  }

  .sec-collection .cmn-ttl {
    padding-left: 12.211vw;
    font-size: 3.163vw;
    letter-spacing: 0.868vw;
  }

  .sec-collection .content-txt {
    margin-top: 1.842vw;
    margin-right: 2.368vw;
  }

  .sec-collection .content-txt span {
    padding-left: 7.842vw;
  }

  .sec-collection .content-txt span::before {
    width: 7.289vw;
    height: 0.079vw;
  }

  .sec-collection .content-txt small {
    width: 28.947vw;
    padding: 0.211vw 0.368vw;
    font-size: 1.132vw;
  }

  .sec-collection .collection-list {
    padding-top: 5.263vw;
  }

  .sec-collection .list-no {
    font-size: 3.158vw;
    letter-spacing: 1.053vw;
  }

  .sec-collection .list-no span {
    padding: 0 6.947vw 0 1.579vw;
  }

  .sec-collection .list-no span::after {
    width: 7.184vw;
    height: 0.079vw;
  }

  .sec-collection .list-ttl {
    font-size: 1.414vw;
    letter-spacing: 0.368vw;
  }

  .sec-collection .list-txt {
    padding: 1.158vw 0 1.263vw;
    letter-spacing: 0.016vw;
  }

  .sec-collection .more-btn {
    padding-right: 0.842vw;
    font-size: 0.658vw;
  }

  .sec-collection .more-btn::after {
    width: 0.316vw;
    height: 0.526vw;
  }

  .sec-collection .list-item01 .img-blk {
    width: 63%;
  }

  .sec-collection .list-item01 .list-img01 {
    width: 50.368vw;
    margin-top: -1.421vw;
    margin-left: 1.579vw;
  }

  .sec-collection .list-item01 .list-img01::before {
    bottom: -2.947vw;
    left: 10.526vw;
    width: 0.079vw;
    height: 7.29vw;
  }

  .sec-collection .list-item01 .txt-blk {
    padding: 6.947vw 0;
  }

  .sec-collection .list-item01 .txt-blk-inner {
    padding: 4.842vw 1.684vw 4.105vw;
  }

  .sec-collection .list-item01 .txt-blk-inner::before {
    top: 0;
    left: 1.789vw;
    width: 0.079vw;
    height: 3.579vw;
  }

  .sec-collection .list-item01 .txt-blk-inner::after {
    left: 2.421vw;
    width: 0.079vw;
    height: 7.29vw;
  }

  .sec-collection .list-item01 .list-logo {
    padding-top: 4vw;
    padding-left: 1.421vw;
  }

  .sec-collection .list-item01 .list-img02 {
    position: relative;
    width: 30.947vw;
    margin-top: -2.105vw;
    margin-left: -8.421vw;
  }

  .sec-collection .list-item {
    margin-top: -22.316vw;
  }

  .sec-collection .list-item02 {
    width: 54%;
  }

  .sec-collection .list-item02 .txt-blk-inner {
    padding: 5.895vw 1.579vw 1.368vw 10.105vw;
  }

  .sec-collection .list-item02 .list-ttl {
    padding: 0 1.421vw;
  }

  .sec-collection .list-item02 .list-ttl::after {
    bottom: -0.632vw;
    height: 1.553vw;
  }

  .sec-collection .list-item02 .list-txt {
    margin-left: 10.105vw;
  }

  .sec-collection .list-item02 .more-btn {
    margin-left: 10.105vw;
  }

  .sec-collection .list-item02 .list-img03 {
    width: 30.842vw;
    margin: -1.579vw 4.526vw 0 auto;
  }

  .sec-collection .list-item02 .daypack-txt {
    padding-top: 3.158vw;
    padding-left: 15.474vw;
    font-size: 3.158vw;
    letter-spacing: 1.105vw;
    text-shadow: 0 1.053vw 1vw rgba(0, 15, 26, 0.27);
  }

  .sec-collection .list-item03 {
    width: 37.5%;
    padding: 19.579vw 0 1.053vw;
  }

  .sec-collection .list-item03 .txt-blk-inner {
    padding-left: 5.579vw;
  }

  .sec-collection .list-item03 .img-blk {
    width: 38.947vw;
    margin-top: 0.632vw;
    margin-left: -7.474vw;
  }

  .sec-collection .list-item03 .list-img04 {
    margin-top: -1.474vw;
    margin-right: 3.158vw;
  }

  .sec-collection .collection {
    margin-top: -9.574vw;
    padding-left: 4.421vw;
  }

  .sec-collection .collection li {
    width: 9.2%;
    margin-right: 2.2%;
  }

  .sec-collection .collection li a:hover::after {
    width: 2.368vw;
    height: 2.368vw;
  }

  .sec-collection .modal-container .modal-inner {
    display: flex;
    padding: 4.474vw 4.211vw 4.737vw 4.737vw;
    box-shadow: 0 0 2.158vw rgba(0, 15, 26, 0.21);
    max-width: 70.105vw;
    border-radius: 0.658vw;
  }

  .sec-collection .modal-container .slider-blk {
    width: 56%;
  }

  .sec-collection .modal-container .txt-blk {
    padding-left: 2.474vw;
  }

  .sec-collection .modal-container .modal-ttl {
    padding-left: 0.789vw;
    font-size: 0.658vw;
  }

  .sec-collection .modal-container .modal-ttl::before {
    width: 0.079vw;
  }

  .sec-collection .modal-container .modal-ttl span {
    padding-bottom: 1.053vw;
    letter-spacing: 0.084vw;
  }

  .sec-collection .modal-container .price-txt {
    padding: 2.211vw 0 1.474vw;
    font-size: 1.974vw;
    letter-spacing: 0.526vw;
  }

  .sec-collection .modal-container .brand-ttl {
    font-size: 1.414vw;
    letter-spacing: 0.411vw;
  }

  .sec-collection .modal-container .tab-nav {
    padding: 2.158vw 0 0.842vw;
  }

  .sec-collection .modal-container .tab-nav li {
    padding-right: 1.684vw;
  }

  .sec-collection .modal-container .tab-nav li::before {
    height: 0.079vw;
  }

  .sec-collection .modal-container .tab-nav li a {
    padding-bottom: 0.789vw;
    font-size: 0.658vw;
  }

  .sec-collection .modal-container .tab-nav li a::after {
    width: 0.474vw;
    height: 0.368vw;
  }

  .sec-collection .modal-container .tab-content {
    padding-right: 1.579vw;
  }

  .sec-collection .modal-container .btn-blk {
    padding: 2.737vw 0 5.789vw;
  }

  .sec-collection .modal-container .buy-btn {
    width: 12.105vw;
    padding: 1.211vw 0.526vw;
    box-shadow: 0.632vw 0.632vw 1.737vw rgba(105, 86, 51, 0.35);
    font-size: 1.316vw;
    border-radius: 1.895vw;
  }

  .sec-collection .modal-container .qty-blk {
    padding-top: 0.737vw;
    padding-right: 4.105vw;
  }

  .sec-collection .modal-container .qty-sign {
    font-size: 1.447vw;
  }

  .sec-collection .modal-container .qty-sign .no {
    padding: 0 1.263vw;
  }

  .sec-collection .modal-container .qty-txt {
    padding-top: 0.737vw;
    font-size: 0.658vw;
  }

  .sec-collection .modal-container .modal-txt {
    font-size: 0.658vw;
    letter-spacing: 0.063vw;
  }

  .sec-collection .modal-container .modal-txt a {
    cursor: auto;
    pointer-events: none;
  }

  .sec-collection .modal-container .modal-btn {
    width: 2.579vw;
    height: 2.579vw;
    box-shadow: 0vw 0vw 2.158vw rgba(0, 15, 26, 0.6);
  }

  .sec-collection .modal-container .social-list,
  .sec-collection .modal-container .modal-close {
    right: -1.158vw;
  }

  .sec-collection .modal-container .modal-close {
    top: 2.368vw;
  }

  .sec-collection .modal-container .modal-close img {
    width: 0.789vw;
  }

  .sec-collection .modal-container .social-list {
    top: 12.789vw;
  }

  .sec-collection .modal-container .social-list li+li {
    margin-top: 0.842vw;
  }

  .sec-collection .modal-container .modal-twitter img {
    width: 1.158vw;
  }

  .sec-collection .modal-container .modal-pinterest img {
    width: 0.895vw;
  }

  .sec-collection .modal-container .modal-facebook img {
    width: 0.579vw;
  }

  /* Footer */
  .footer {
    padding: 2.053vw 0 1.263vw;
  }

  .footer .footer-inner {
    max-width: 1730px;
  }

  .footer .footer-logo {
    width: 8.158vw;
  }

  .footer .cmn-link {
    padding: 0 0.632vw 0 2.421vw;
    letter-spacing: -0.016vw;
  }

  .footer .cmn-link::before {
    width: 2vw;
    height: 0.053vw;
  }

  .footer .cmn-link::after {
    width: 0.211vw;
    height: 0.211vw;
  }

  .footer .footer-nav {
    margin: 0.737vw 5.8% 0 9.6%;
  }

  .footer .footer-nav li {
    width: 6.526vw;
  }

  .footer .footer-address {
    margin-top: 0.842vw;
    margin-right: 16.4%;
  }

  .footer .footer-form {
    margin-top: 0.842vw;
  }

  .footer .footer-form p {
    padding: 1.053vw 0 0.842vw;
    font-size: 0.658vw;
    letter-spacing: 0.005vw;
  }

  .footer .footer-form .cmn-input {
    width: 9.947vw;
    margin-right: 0.316vw;
    padding: 0.474vw;
  }

  .footer .footer-form .cmn-button {
    width: 2.684vw;
    padding: 0.316vw 0.474vw 0.632vw;
  }

  .footer .copyright {
    margin-top: 0.474vw;
    margin-right: 4.947vw;
  }

  .footer .social-list {
    margin-top: 0.474vw;
  }

  .footer .social-list li {
    margin-right: 5.4%;
  }

}

/* SP
-----------------------------------------------------------------*/
@media only screen and (max-width: 767.9px) {

  body {
    font-size: 4.054vw;
  }

  .sp {
    display: none;
  }

  /* Common */
  .cmn-ttl {
    font-size: 5.2vw;
    letter-spacing: 0.6vw;
    text-shadow: 0vw 0vw 11.081vw rgba(0, 15, 26, 0.6);
  }

  .cmn-txt {
    font-size: 2.5vw;
    letter-spacing: 0.02vw;
  }

  .cmn-paragraph {
    line-height: 2;
    font-size: 2vw;
  }

  .cmn-arr-blk {
    bottom: -3.2vw;
    width: 25vw;
    height: 5vw;
  }

  .cmn-arr-blk::after {
    top: 0.5vw;
    width: 2.6vw;
    height: 15vw;
  }

  .cmn-txt-blk {
    flex-direction: column;
  }

  .cmn-txt-blk::before {
    border: 0.541vw solid #b8a47e;
  }

  .cmn-content-img {
    width: 100%;
  }

  /* Header Section */
  .scroll-prevent body {
    overflow: hidden;
  }

  .header {
    padding: 0;
    max-width: 100vw;
  }

  .header .header-inner {
    justify-content: space-between;
  }

  .header .header-logo {
    width: 20%;
  }

  .header .gnav {
    display: block;
    position: absolute;
    top: 0;
    right: -100vw;
    width: 100%;
    height: 100vh;
    visibility: hidden;
    padding: 38.677vw 0;
    background-color: rgba(0, 0, 0, 0.95);
    text-align: center;
    transition: all 0.5s ease;
    overflow-y: auto;
  }

  .header .gnav.active {
    right: 0;
    visibility: visible;
  }

  .header .gnav ul {
    display: block;
  }

  .header .gnav li {
    margin-right: 0;
    margin-bottom: 12.214vw;
  }

  .header .gnav a {
    padding: 0 4vw 0 12vw;
    color: #ffffff !important;
  }

  .header .gnav a::before {
    width: 10.133vw;
    height: 0.167vw;
  }

  .header .gnav a::after {
    width: 1.067vw;
    height: 1.067vw;
  }

  .header .menu-toggle {
    display: block;
    position: relative;
    padding: 5.87vw 3.326vw;
    background-color: rgba(0, 0, 0, 0.87);
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
  }

  .header .menu-ico {
    position: relative;
    width: 9.16vw;
    height: 4.071vw;
  }

  .header .menu-line {
    position: absolute;
    top: 0;
    width: 100%;
    height: 0.296vw;
    background-color: #ffffff;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }

  .header .menu-line::before,
  .header .menu-line::after {
    position: absolute;
    right: 0;
    height: 0.296vw;
    background-color: #ffffff;
    content: "";
    -webkit-transition: inherit;
    transition: inherit;
  }

  .header .menu-line::before {
    top: 2.036vw;
    width: 100%;
  }

  .header .menu-line::after {
    top: 4.071vw;
    width: 50%;
  }

  .header .menu-toggle.active {
    background-color: #b8a47e;
  }

  .header .menu-toggle.active .menu-line {
    background-color: transparent;
  }

  .header .menu-toggle.active .menu-line::before,
  .header .menu-toggle.active .menu-line::after {
    top: 2.036vw;
    width: 100%;
  }

  .header .menu-toggle.active .menu-line::before {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .header .menu-toggle.active .menu-line::after {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  /* Mainvisual Section */
  .sec-mv .mv-slider-blk {
    padding-left: 15vw;
  }

  .sec-mv .list-img {
    width: 90%;
  }

  .sec-mv .list-txt {
    top: 50%;
    transform: translateY(-50%);
  }

  .sec-mv .cmn-ttl {
    padding: 2.486vw 0 3.297vw;
  }

  .sec-mv .list-btn {
    padding: 0 3.2vw 0 6.4vw;
    font-size: 2.2vw;
  }

  .sec-mv .list-btn::before {
    width: 5.133vw;
    height: 0.167vw;
  }

  .sec-mv .list-btn::after {
    width: 2.067vw;
    height: 1.567vw;
  }

  /* Voyager Section */
  .sec-voyager {
    padding: 30vw 0 70vw;
  }

  .sec-voyager .cmn-txt-blk {
    top: 52%;
    right: 0;
    left: 0;
    width: 80%;
    margin: 0 auto;
    padding: 6.4vw 5vw;
  }

  .sec-voyager .cmn-txt-blk::before {
    left: 0;
    width: 100%;
    margin: 0 auto;
  }

  .sec-voyager .left-blk {
    width: 100%;
  }

  .sec-voyager .left-blk .cmn-txt {
    padding-top: 2.8vw;
  }

  .sec-voyager .right-blk {
    width: 100%;
    margin-top: 10vw;
  }

  .sec-voyager .cmn-arr-blk {
    right: 0;
    left: 0;
    margin: 0 auto;
  }

  /* Drifter Section */
  .sec-drifter {
    padding: 20vw 0 70vw;
  }

  .sec-drifter .cmn-txt-blk {
    top: 52%;
    right: 0;
    left: 0;
    flex-direction: column-reverse;
    width: 80%;
    margin: 0 auto;
    padding: 6.4vw 5vw;
  }

  .sec-drifter .cmn-txt-blk::before {
    right: 0;
    width: 100%;
    margin: 0 auto;
  }

  .sec-drifter .content-txt {
    display: none;
  }

  .sec-drifter .left-blk {
    width: 100%;
    margin-top: 10vw;
  }

  .sec-drifter .right-blk {
    width: 100%;
  }

  .sec-drifter .right-blk .cmn-txt {
    padding-top: 2.8vw;
    text-align: right;
  }

  .sec-drifter .cmn-arr-blk {
    right: 0;
    left: 0;
    margin: 0 auto;
  }

  /* Collection Content */
  .sec-collection {
    padding: 20vw 0;
  }

  .sec-collection .content-inner {
    max-width: 95vw;
  }

  .sec-collection .cmn-ttl {
    font-size: 5.2vw;
    letter-spacing: 0.6vw;
  }

  .sec-collection .content-txt {
    margin-top: 1.5vw;
  }

  .sec-collection .content-txt span {
    padding-left: 24vw;
  }

  .sec-collection .content-txt span::before {
    width: 22vw;
    height: 0.167vw;
  }

  .sec-collection .content-txt small {
    width: 54vw;
    padding: 1.067vw 1.867vw;
    font-size: 2.5vw;
  }

  .sec-collection .collection-list {
    padding-top: 15vw;
  }

  .sec-collection .list-no {
    font-size: 6vw;
    letter-spacing: 1vw;
  }

  .sec-collection .list-no span {
    padding-right: 30vw;
  }

  .sec-collection .list-no span::after {
    width: 27vw;
    height: 0.167vw;
  }

  .sec-collection .list-ttl {
    font-size: 4.8vw;
    letter-spacing: 1.2vw;
  }

  .sec-collection .list-txt {
    padding: 6.4vw 0;
    letter-spacing: 0.08vw;
  }

  .sec-collection .more-btn {
    padding-right: 4.2vw;
    font-size: 2.5vw;
  }

  .sec-collection .more-btn::after {
    width: 2.4vw;
    height: 1.5vw;
  }

  .sec-collection .list-item01 {
    flex-direction: column;
  }

  .sec-collection .list-item01 .img-blk,
  .sec-collection .list-item01 .list-img01 {
    width: 100%;
  }

  .sec-collection .list-item01 .list-img01::before {
    bottom: -15.933vw;
    left: 14vw;
    width: 0.167vw;
    height: 30vw;
  }

  .sec-collection .list-item01 .txt-blk-inner {
    padding: 20vw 8.533vw 20vw;
  }

  .sec-collection .list-item01 .txt-blk-inner::after {
    left: 12.267vw;
    width: 0.167vw;
    height: 30vw;
  }

  .sec-collection .list-item01 .list-logo {
    width: 41.333vw;
    padding-top: 8.2vw;
    padding-left: 8.2vw;
  }

  .sec-collection .list-item01 .list-img02 {
    width: 100%;
    margin-top: -12.333vw;
    margin-left: -10.667vw;
    text-align: center;
  }

  .sec-collection .list-item {
    flex-direction: column;
  }

  .sec-collection .list-item02 {
    width: 100%;
  }

  .sec-collection .list-item02 .txt-blk-inner {
    padding: 10vw 0vw;
  }

  .sec-collection .list-item02 .list-ttl {
    padding: 0 3.2vw;
  }

  .sec-collection .list-item02 .list-ttl::after {
    bottom: -3.2vw;
    height: 5.867vw;
  }

  .sec-collection .list-item02 .list-img03 {
    width: 100%;
  }

  .sec-collection .list-item02 .daypack-txt {
    padding-top: 5vw;
    font-size: 10vw;
    letter-spacing: 3.6vw;
    text-shadow: 0 5.333vw 5.067vw rgba(0, 15, 26, 0.27);
  }

  .sec-collection .list-item03 {
    width: 100%;
    padding: 10vw 0;
  }

  .sec-collection .list-item03 .img-blk {
    width: 100%;
    margin-top: 3.2vw;
  }

  .sec-collection .list-item03 .list-img04 {
    width: 100%;
  }

  .sec-collection .collection {
    flex-wrap: wrap;
    justify-content: space-between;
    width: 65%;
    margin-top: -40.067vw;
    padding-left: 3vw;
  }

  .sec-collection .collection li {
    width: 32%;
    margin-right: 1%;
    margin-bottom: 1%;
  }

  .sec-collection .collection li a:hover::after {
    width: 8vw;
    height: 8vw;
  }

  .sec-collection .modal-container .modal-inner {
    display: block;
    padding: 10vw 5vw;
    box-shadow: 0 0 10.933vw rgba(0, 15, 26, 0.21);
    max-width: 90%;
    border-radius: 3vw;
  }

  .sec-collection .modal-container .slider-blk {
    width: 100%;
  }

  .sec-collection .modal-container .txt-blk {
    padding-top: 10vw;
  }

  .sec-collection .modal-container .modal-ttl {
    padding-left: 4vw;
    font-size: 3vw;
  }

  .sec-collection .modal-container .modal-ttl::before {
    width: 0.4vw;
  }

  .sec-collection .modal-container .modal-ttl span {
    padding-bottom: 3vw;
    letter-spacing: 0.4vw;
  }

  .sec-collection .modal-container .price-txt {
    padding: 9vw 0 5vw;
    font-size: 10vw;
    letter-spacing: 2.667vw;
  }

  .sec-collection .modal-container .brand-ttl {
    font-size: 5.2vw;
    letter-spacing: 1.2vw;
  }

  .sec-collection .modal-container .tab-nav {
    padding: 8vw 0 3vw;
  }

  .sec-collection .modal-container .tab-nav li {
    padding-right: 4.5vw;
  }

  .sec-collection .modal-container .tab-nav li::before {
    height: 0.167vw;
  }

  .sec-collection .modal-container .tab-nav li a {
    padding-bottom: 4vw;
    font-size: 2.8vw;
  }

  .sec-collection .modal-container .tab-nav li a::after {
    width: 2.4vw;
    height: 1.867vw;
  }

  .sec-collection .modal-container .btn-blk {
    flex-direction: column;
    padding: 10vw 0;
  }

  .sec-collection .modal-container .buy-btn {
    display: block;
    width: 52vw;
    margin: 0 auto;
    padding: 4vw 2vw;
    box-shadow: 3.2vw 3.2vw 8.8vw rgba(105, 86, 51, 0.35);
    font-size: 6.2vw;
    border-radius: 9vw;
  }

  .sec-collection .modal-container .qty-blk {
    padding-top: 5vw;
  }

  .sec-collection .modal-container .qty-sign {
    justify-content: center;
    font-size: 6.2vw;
  }

  .sec-collection .modal-container .qty-sign .no {
    padding: 0 7.4vw;
  }

  .sec-collection .modal-container .qty-txt {
    padding-top: 3.733vw;
    font-size: 3.5vw;
  }

  .sec-collection .modal-container .modal-txt {
    line-height: 1.5;
    font-size: 3.2vw;
    letter-spacing: 0.32vw;
  }

  .sec-collection .modal-container .modal-btn {
    width: 8vw;
    height: 8vw;
    box-shadow: 0vw 0vw 10.933vw rgba(0, 15, 26, 0.6);
  }

  .sec-collection .modal-container .social-list,
  .sec-collection .modal-container .modal-close {
    right: -3.867vw;
  }

  .sec-collection .modal-container .modal-close {
    top: 12vw;
  }

  .sec-collection .modal-container .social-list {
    top: 64.8vw;
  }

  .sec-collection .modal-container .modal-close img {
    width: 3vw;
  }

  .sec-collection .modal-container .social-list li+li {
    margin-top: 4.267vw;
  }

  .sec-collection .modal-container .modal-twitter img,
  .sec-collection .modal-container .modal-pinterest img {
    width: 3vw;
  }

  .sec-collection .modal-container .modal-facebook img {
    width: 2vw;
  }

  /* Footer */
  .footer {
    padding: 37px 0 24px;
  }

  .footer .footer-inner {
    flex-direction: column;
    max-width: 95%;
  }

  .footer .footer-logo {
    width: 41.333vw;
    margin: 0 auto;
  }

  .footer .cmn-link {
    padding: 0 3.2vw 0 12.267vw;
    letter-spacing: -0.08vw;
  }

  .footer .cmn-link::before {
    width: 10.133vw;
    height: 0.167vw;
  }

  .footer .cmn-link::after {
    width: 1.067vw;
    height: 1.067vw;
  }

  .footer .footer-nav {
    flex-wrap: wrap;
    margin-top: 8vw;
  }

  .footer .footer-nav li {
    width: 50%;
    margin-bottom: 5vw;
  }

  .footer .footer-address {
    margin-top: 5.333vw;
  }

  .footer .footer-form {
    margin-top: 8vw;
  }

  .footer .footer-form p {
    padding: 5.333vw 0 4.267vw;
    font-size: 3.333vw;
    letter-spacing: 0.027vw;
  }

  .footer .footer-form .cmn-input {
    width: 50.4vw;
    margin-right: 1.6vw;
    padding: 2.4vw;
  }

  .footer .footer-form .cmn-button {
    width: 13.6vw;
    padding: 1.6vw 2.4vw 3.2vw;
  }

  .footer .copyright {
    margin-top: 8vw;
  }

  .footer .social-list {
    flex-wrap: wrap;
    margin-top: 8vw;
  }

  .footer .social-list li {
    width: 50%;
    margin-bottom: 5vw;
  }

}